<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not Authorizated!</h1>
    <p>You are not authorizated and therefore not allowed to access admin page!</p>
  </main>
</body>
</html>